<a href="https://colab.research.google.com/github/rodrignucleo/GerenciadorDeVendas_Pandas/blob/main/GerenciadorDeVendas_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PASSO 1 = Mostrar Tabela de Vendas

In [ ]:
import pandas as pd

tabela_vendas =  pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Vendas1.xlsx")

display(tabela_vendas)

PASSO 2 = Mostrar o faturamento de cada loja

In [ ]:
tabela_faturamento = tabela_vendas[["ID Loja", "Valor Final"]].groupby("ID Loja").sum()
display(tabela_faturamento)

                   Valor Final
ID Loja
Cidade São Paulo          2985
Pátio Paulista            2789
Shopping Itaquera         2038
Shopping Tatuapé          1635

PASSO 3 = Mostrar a quantidade total de produtos vendidos

In [ ]:
tabela_produtos = tabela_vendas[["ID Loja", "Quantidade"]].groupby("ID Loja").sum()
display(tabela_produtos)

                   Quantidade
ID Loja
Cidade São Paulo          393
Pátio Paulista            357
Shopping Itaquera         232
Shopping Tatuapé          243

PASSO 4 = Calcular TICKET MÉDIO

In [ ]:
ticket_medio = (tabela_faturamento["Valor Final"] / tabela_produtos["Quantidade"]).to_frame()
ticket_medio = ticket_medio.rename(columns= {0 : "Ticket Medio"})
display(ticket_medio)

                   Ticket Medio
ID Loja
Cidade São Paulo       7.595420
Pátio Paulista         7.812325
Shopping Itaquera      8.784483
Shopping Tatuapé       6.728395

FUNÇÃO ENVIAR EMAIL

In [ ]:
def enviar_email(nome_da_loja, tabela):
  import smtplib
  import email.message

  server = smtplib.SMTP('smtp.gmail.com:587')  
  corpo_email = f"""
  <p>Prezados,</p>
  <p>Segue relatório de vendas </p>
  {tabela.to_html()}
  <p>Att, Rodrigo</p>
  """ #editar
    
  msg = email.message.Message()
  msg['Subject'] = f"Relatório de vendas - {nome_da_loja}" #editar
    
  # Fazer antes (apenas na 1ª vez): Ativar Aplicativos não Seguros.
  # Gerenciar Conta Google -> Segurança -> Aplicativos não Seguros -> Habilitar
  # Caso mesmo assim dê o erro: smtplib.SMTPAuthenticationError: (534,
  # Você faz o login no seu e-mail e depois entra em: https://accounts.google.com/DisplayUnlockCaptcha
  
  msg['From'] = ''  #editar
  msg['To'] = ''  #editar
  password = "*"  #editar
  msg.add_header('Content-Type', 'text/html')
  msg.set_payload(corpo_email )
    
  s = smtplib.SMTP('smtp.gmail.com: 587')
  s.starttls()
  # Login Credentials for sending the mail
  s.login(msg['From'], password)
  s.sendmail(msg['From'], [msg['To']], msg.as_string().encode('utf-8'))
  print('Email enviado')

PASSO 5 = Enviar o Email

In [ ]:
tabela_completa = tabela_faturamento.join(tabela_produtos).join(ticket_medio)
enviar_email("Diretoria", tabela_completa)

Email enviado

PASSO 6 = Enviar Email pra cada loja

In [ ]:
lista_lojas = tabela_vendas["ID Loja"].unique()

for loja in lista_lojas:
  tabela_loja = tabela_vendas.loc[tabela_vendas["ID Loja"] == loja, ["ID Loja", "Quantidade", "Valor Final"]]
  tabela_loja = tabela_loja.groupby("ID Loja").sum()
  tabela_loja["Ticket Medio"] = tabela_loja["Valor Final"] / tabela_loja["Quantidade"]
  enviar_email(loja, tabela_loja)

Email enviado
Email enviado
Email enviado
Email enviado